@font-face {
    font-family: Free3pf9;
    src:url("/3OF9_0.TTF");
}

* {
    font-family: Arial;
}

.toolbar{
    display: flex;
    justify-content: start;
}

.right{
    margin-left: auto;
}

table{
    text-align: center;
    page-break-after: always;
}

.row {
    display: flex;
}

.grey-row {
    background-color: rgb(240, 240, 240);
}

button > svg {
    width: 12px;
    height: 10px;
}

.toro_logo{
    width: 110px;
}

.part_number {
    font-family: Arial;
    font-size: 160px;
    font-weight: bold;
}

.small-text{
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
}

.small-medium-text{
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
}

.medium-text{
    font-family: Arial;
    font-size: 52px;
    font-weight: bold;
}

.medium-high-text{
    font-family: Arial;
    font-size: 56px;
    font-weight: bold;
}

.barcode {
    font-family: Free3pf9;
    font-size: 72px;
}

.quantity {
    font-family: Arial;
    font-size: 72px;
    font-weight: bold;
}

.red-button {
    background-color: red;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.cursive {
    font-style: italic;
    font-size: 12px;
}

#printableArea{
    display: hidden;
}

@media print{
    .no_print{
        display: none;
    }

    #printableArea{
        display: block;
        width: 100%;
        background-color: blue;
        justify-content:center;
        align-items:center;
        height: 100%;
    }

    #printableArea > *{
        background-color: yellow;
        width: 100%;
    }
}