<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Part Numbers Printer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/resources/img/LOGO.jfif" type="image/x-icon">
</head>
<body>
    <div id="app">
        <div class="no_print">
            <div class="navbar">
                <div>
                    <a href="/pages/main_menu/">
                        <img src="/resources/img/toro-logo-RGB-for-digital.png" alt="">
                    </a>
                </div>
                <div class="drop-div">
                    Projects
                    <div class="dropdown-div">
                        <a href="/pages/identifications_printer/">Part Number Printer</a>
                        <a href="/pages/qr_generator/">QR Generator</a>
                    </div>
                </div>
            </div>

            <div class="pd1">
                <h1>Multiple Part Numbers Printer</h1>
            <div class="toolbar">
                <button @click="addMaterial()">
                    Add Another Material
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </button>
                <button @click="print()">
                    Print All
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                    </svg>
                </button>
                <label for="selShift">Shift:</label>
                <select name="selShift" id="selShift" v-model="shift_data.selected">
                    <option v-for="shift in shift_data.shifts" :value="shift">{{shift}}</option>
                </select>
                <button class="right red-button" @click="removeAll()">
                    Remove All Part Numbers
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                </button>
            </div>
            <br><br>
            <label for="selDepartment">Area: </label>
            <select name="selDepartment" id="selDepartment" v-model="select_data.selected">
                <option v-for="area in select_data.areas" :value="area">{{area}}</option>
            </select>

            <label for="cbDate">Include Date?:</label>
            <input type="checkbox" id="cbDate" name="cbDate" v-model="includeDate"/>
            
            <br><br>
            <div class="row" :class="index % 2 == 0 ? 'grey-row' : ''" v-for="(material, index) in materials">
                <button class="red-button" @click="removeItem(index)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </button>
                <label>Part Number: </label>
                <input type="text" placeholder="Part Number" v-model="material.part_number">

                <label>Quantity: </label>
                <input type="number" placeholder="Quantity" v-model="material.quantity">

                <label>Pages: </label>
                <input type="number" placeholder="Pages" v-model="material.pages" max="35" min="0" @change="changePages(index)" @input="changePages(index)">
                
                <label for="cbParcial">Parcial?:</label>
                <input type="checkbox" name="cbParcial" id="cbParcial" v-model="material.parcial">
                
                <button @click="duplicateItem(index)">
                    Duplicate
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                    </svg>
                </button>
            </div>
            <p class="cursive">For bugs or support: Oscar.CastilloRamirez@toro.com</p>
            <hr>
            </div>
        </div>
        
        <div id="printableArea">
            <table  v-for="material in materials_w_pages">
                <template v-if="material.part_number">
                    <tr>
                        <td><img class="toro_logo" src="/resources/img/toro-logo-RGB-for-digital.png" alt="TORO_LOGO"></td>
                    </tr>
                    <tr>
                        <td class="small-text">{{shift_data.selected}} SHIFT</td>
                    </tr>
                    <tr v-if="select_data.selected != ''">
                        <td class="small-medium-text">{{select_data.selected}}</td>
                    </tr>
                    <tr>
                        <td :class="material.part_number.length > 10 ? 'part_number_small' : 'part_number'">{{material.part_number}}</td>
                    </tr>
                    <tr>
                        <td class="barcode">{{"*" + material.part_number + "*"}}</td>
                    </tr>
                    <tr>
                        <td v-if="material.parcial" class="medium-text">PARCIAL QTY:</td>
                        <td v-else class="medium-text">QTY:</td>
                    </tr>
                    <tr>
                        <td class="medium-text" v-if="material.quantity > 1">{{material.quantity}} PCS</td>
                        <td class="medium-text" v-else>{{material.quantity}} PIECE</td>
                    </tr>
                    <tr>
                        <td class="barcode">{{"*" + material.quantity + "*"}}</td>
                    </tr>
                    <tr v-if="includeDate">
                        <td class="small-text">{{getCurrentDate()}}</td>
                    </tr>
                </template>
            </table>
        </div>
        
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/modules/helper.js"></script>
    <script src="javascript.js"></script>
</body>
</html>